<a href="https://colab.research.google.com/github/minhhoang258/LeDinhHoangMinh20104043/blob/main/BU%E1%BB%94I%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
BUá»”I 1:

In [ ]:
with open ('text.txt',mode = 'w') as accounts:
  accounts.write('1 Le Dinh Hoang Minh 10.0\n')
  accounts.write('2 Do Trung Hieu 9.0\n')

In [ ]:
with open ('text.txt',mode = 'w') as accounts:
  print('10:11 Le Dinh Hoang M',file=accounts)
  print('9:45 Do Trung H',file=accounts)

In [ ]:
import pandas as pd
url='/content/danhsach1.csv'
dataframe=pd.read_csv(url)
dataframe.head(5)

   STT      MSSV   Ho va ten  Diem Khoa
0    1  20104043  Hoang Minh    10  CKM
1    2  20104056   Duy Thanh     9  FME
2    3  20104012   Duc Trung     8  ETU
3    4  20104023   Ngoc Hieu     7  CKM
4    5  20104046   Huu Duong     7  FME

In [ ]:
import pandas as pd
dataframe=pd.DataFrame()
dataframe['Name']=['David','Jame']
dataframe['Student ID']=['20104032','20104056']
dataframe['Score']=[8.5,9.3]
dataframe

    Name Student ID  Score
0  David   20104032    8.5
1   Jame   20104056    9.3

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe
dataframe.iloc[9]

STT               10
MSSV             NaN
Ho va ten    Zhongli
Diem               9
Khoa             FME
Name: 9, dtype: object

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe
dataframe=dataframe.set_index(dataframe['Full Name'])
dataframe.loc['Raiden Shogun']

No                        1
Student ID         20104043
Full Name     Raiden Shogun
Score                    10
Faculty                 CKM
Year                    K20
Name: Raiden Shogun, dtype: object

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe[(dataframe['Faculty']=='CKM') & (dataframe['Score']>=8) & (dataframe['Year']>=19)]

    No  Student ID      Full Name  Score Faculty  Year
0    1    20104043  Raiden Shogun     10     CKM    20
11  12    20314854           Mona      8     CKM    20

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe['Faculty'].unique()

array(['CKM', 'FME', 'ETU'], dtype=object)

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe
print('Oldest student is year', dataframe['Year'].min())

Oldest student is year 16

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe.drop('Faculty',axis=1).head(9)

   No  Student ID      Full Name  Score  Year
0   1    20104043  Raiden Shogun     10    20
1   2    19104056        Yoimiya      9    19
2   3    21104012           Klee      8    21
3   4    20104023          Keaya      7    20
4   5    19104046          Diluc      7    19
5   6    17374264         Keqing      9    17
6   7    16475932     Kujou Sara      8    16
7   8    19328465           Eula      7    19
8   9    21045745          Ganyu      8    21

In [ ]:
import pandas as pd
url='/content/danhsach2.csv'
dataframe=pd.read_csv(url)
dataframe.groupby(['Year','Faculty'])['Score'].count()

Year  Faculty
16    FME        1
17    CKM        1
18    FME        1
19    ETU        2
      FME        2
20    CKM        3
      FME        1
21    ETU        2
22    CKM        1
      FME        1
Name: Score, dtype: int64

In [ ]:
import pandas as pd
url='/content/medals.csv'
dataframe=pd.read_csv(url)
dataframe.groupby(['NOC','Medal'])['Year'].count()

NOC  Medal
AUS  Bronze     3
     Gold       3
AUT  Bronze    70
     Gold      51
     Silver    64
               ..
USA  Gold      78
     Silver    80
UZB  Gold       1
YUG  Bronze     1
     Silver     3
Name: Year, Length: 112, dtype: int64

In [ ]:
import pandas as pd
url='/content/medals.csv'
dataframe=pd.read_csv(url)
dataframe
dataframe['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url='/content/medals.csv'
dataframe=pd.read_csv(url)
dataframe[(dataframe['NOC']=='GER') & (dataframe['Medal']=='Gold') & (dataframe['Year']==2006)].count()

Year            11
City            11
Sport           11
Discipline      11
NOC             11
Event           11
Event gender    11
Medal           11
dtype: int64